.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%), url("https://assets.nflxext.com/ffe/siteui/vlv3/3679b63e-5d92-47a1-96ec-b26d86fc0f0a/3414af35-d147-49a6-b842-53b836a1a8af/NG-en-20211213-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    position: relative;
    .top{
    .wrapper{
        padding: 20px 50px;
        align-items: center;
        justify-content: space-between;
        display: flex;
    .logo{
        height: 100px;
    }
    }
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 0;
    left: 0;

    form{
        width: 350px;
        height: 500px;
        padding: 40px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        input{
            height: 40px;
            border-radius: 5px;
            color: white;
            background-color: #333;
            border: none;
            padding-left: 10px;
            padding: 10px;

            &::placeholder{
                color: gray;
            }
        }
        button{
            height: 40px;
            background-color: red;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;
            border: none;
        }
        span{
            color: #333;
            b{
                color: white;
            }
        }
        small{
            color: #333;
        }
    }
    
}
}